@model Category
@{
	Layout = "_AdminLayout"; 
}

<form asp-action="UpdateCategory" method="post" >
	<h2> Kategoriyi Güncelle</h2>
	<div class="form-group">
		<h3>Kategori Adı: @Model.CategoryName
		</h3>
		<input type="hidden" asp-for="CategoryId" />
		<br />
		<input type="text" class="form-control" asp-for="CategoryName" placeholder="Kategorinin Yeni Adını Giriniz .." value="" required>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-warning btn-block" >Kaydet</button>
	</div>
</form>