
<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - ShoppingList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/ShoppingList.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <!-- font awesome  -->
    <link rel="stylesheet" href=" https: //use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/adminpage.css" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">
                    <a asp-action="Index" asp-controller="Admin" class="text-black text-decoration-none">
                        Shopping List Admin
                    </a>
                </div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-action="Product" asp-controller="Admin">ÜRÜNLER</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-action="Category" asp-controller="Admin">KATEGORİLER</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-action="AddProduct" asp-controller="Admin">ÜRÜN EKLE</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-action="AddCategory" asp-controller="Admin">KATEGORİ EKLE</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                    <button class="navbar-toggler" type="button" id="sidebarToggle" data-bs-toggle=" collapse" data-bs-target="#" aria-controls="" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span>Admin</span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li>&ensp;</li>
                                <li class="nav-item active"><a class="nav-link" asp-action="Index" asp-controller="Admin">Anasayfa</a></li>

                            </ul>
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hesabım</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <span class="dropdown-item-text text text-black-50">Shopping List Admin</span>
                                        <form>
                                        <a class="dropdown-item" asp-action="AdminLogout" asp-controller="Login">Çıkış yap</a>
                                        </form>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    @*<br />*@
                     @RenderBody()
                     <br />
                </div>
            </div>
        </div>
        <footer class=" text-black-50 border-top text-center py-3">
        <p>&copy; 2023 Serkan Varışlı</p>
    </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/adminpage.css" />


    </body>
</html>
